<!DOCTYPE html>
<html>
<head>
<style>
body{margin:0px}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-image: linear-gradient(to right, #1fd40fe2, rgba(255,222,0,1));
  height: 50px;}
li {
  float: left;
  border-right:1px solid #bbb;}
li a {
  font-size: 20px;
  display: block;
  color: black;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;}
li a:hover:not(.active){background-color: rgb(229, 255, 0);}
</style>
</head>
<body>
<ul>
  <li style="float:right;color:black;font-size: 25px;padding-top: 6px;">tagore degree college(atnomous)</li>
  <li><a href="file:///F:/online%20registration%20ou%20pg%20project/faculty_profile.html#faculty%20profile">factuly profile</a></li>
  <li><a href="file:///F:/online%20registration%20ou%20pg%20project/facultycourses_selection.html">course selection</section></section></a></li>
  <li><a href="file:///F:/online%20registration%20ou%20pg%20project/add%20questions.%2Chtml.html">Make question paper</a></li>
  <li><a href="file:///F:/online%20registration%20ou%20pg%20project/newnav.html">logout</a></li>
</ul>
</body>
</html>